<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="org.willyaugusto.cenourapp"
        version="1.0.0">

    <name>
        Só de Cenoura
    </name>

    <description>
        Menu do restaurante Só de Cenoura.
    </description>

    <author href="https://www.linkedin.com/in/willyaugusto/" email="willyaugusto@gmail.org">
        Willy Augusto
    </author>

    <preference name="orientation" value="portrait" />

    <preference name="permissions" value="none" />
</widget>